body {
    background-image: radial-gradient(gainsboro,sienna,orange,rgb(255, 89, 0), rgb(62, 28, 3)) !important
}
a {
    color: black !important
}
a:hover {
    color: gray !important
}
.jumbotron,
.card-header {
    color: white !important;
    font-family: 'Pacifico', cursive !important;
    background-image: linear-gradient(to left, gainsboro, rgb(255, 89, 0), rgb(62, 28, 3)) !important
}