body {
    background-image: linear-gradient(to left, rgb(255, 89, 0), rgb(62, 28, 3), gainsboro, rgb(62, 28, 3), rgb(255, 89, 0)) !important
}
a {
    color: black !important
}
a:hover {
    color: gray !important
}

.card-header {
    color: white !important;
    font-family: 'Pacifico', cursive !important;
    background-image: linear-gradient(to left, gainsboro, rgb(255, 89, 0), rgb(62, 28, 3)) !important
}
.jumbotron {
    color: rgb(62, 28, 3) !important;
    font-family: 'Pacifico', cursive !important;
    background-image: linear-gradient(to left, rgb(255, 89, 0), rgb(62, 28, 3), gainsboro, rgb(62, 28, 3), rgb(255, 89, 0)) !important
}
button {
    background-color: rgb(255, 89, 0)
}
footer {
    color: rgb(62, 28, 3) !important;
    font-family: 'Pacifico', cursive !important;
}
.mainContainer {
    min-height: 100%;
    margin: 0 auto 200px;
}
